@keyframes animate-test {
  0% {
    top: -50%;
  }
  10% {
    top: 3%;
  }
  20% {
    top: 2%;
  }
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  55% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  65% {
    transform: rotate(0);
  }
  80% {
    top: 2%;
  }
  100% {
    top: -50%;
  }
}

.animate-test {
  animation-name: animate-test;
  animation-duration: 5s;
}